
<h2>Name: <%= "#{@application.name}" %></h2>
Address: <%= @application.address %><br>
City: <%= @application.city %><br>
State: <%= @application.state %><br>
Zipcode: <%= @application.zip %><br>
Description: <%= @application.description %><br>
Pets: <ul><% @pets.each do |pet| %>
    <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
  <% end %></ul>

Application Status: <%= @application.application_status %><br>

<h3>Add a Pet to this Application</h3>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label(:pet_name, 'Pet name:') %>
  <%= form.text_field :pet_name%><br>
  <%= form.submit('Submit') %>
<% end %>

<% if @searched_pet %>
<%= @searched_pet.name %><br>
Sex: <%= @searched_pet.sex %><br>
Approx Age: <%= @searched_pet.approximate_age %><br>
Description: <%= @searched_pet.description %><br>
<%= image_tag "#{@searched_pet.image}" %><br>
<% end %>
