
<h2>Name: <%= "#{@application.name}" %></h2>
Address: <%= @application.address %><br>
City: <%= @application.city %><br>
State: <%= @application.state %><br>
Zipcode: <%= @application.zip %><br>
Description: <%= @application.description %><br>
Pet Names: <%= @application.pet_names %><br>
Application Status: <%= @application.application_status %><br>
