
<h2>Name: <%= "#{@application.name}" %></h2>
Address: <%= @application.address %><br>
City: <%= @application.city %><br>
State: <%= @application.state %><br>
Zipcode: <%= @application.zip %><br>
Description: <%= @application.description %><br>
Pets: <ul><% @pets.each do |pet| %>
    <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
  <% end %></ul>

Application Status: <%= @application.application_status %><br>
